@model List<PostItCore.Models.User>
@{
    ViewData["Title"] = "Admins";
}
<h2>Admins</h2>
<table>
    <thead>
        <tr>
            <th>Nick</th><th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @user.Nick
                </td>
                <td>
                    <form method="post" asp-controller="Admin" asp-action="MakeAdmin" asp-route-id="@user.Id">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Make user
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
