@model List<Post>
@{
    ViewData["Title"] = "Global";
}
<h2>Global</h2>
@if (Model != null)
{
    foreach (var post in Model)
    {
        <a href="~/Home/About?postId=@post.Id">@post.Head</a>
        <hr />
    }
}


